ul.no-list-style {
    list-style-type: none;
    margin-left: 0;
}

/*--------------------------------------------------------------------------
+	nav
--------------------------------------------------------------------------*/
#ha-header {
    opacity: .9;
}

/*--------------------------------------------------------------------------
+    Typography Style
--------------------------------------------------------------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #535b60;
    padding-bottom: 0;
    background-color: #F2F2F2;
}

a {
    color: #449d44;
}

a:hover {
    color: #449d44;
}

/*--------------------------------------------------------------------------
+	Buttons Style
--------------------------------------------------------------------------*/
.my_btn {
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    -webkit-border-radius: 0px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0px;
    -moz-background-clip: padding;
    border-radius: 0px;
    background-clip: padding-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    text-transform: none;
    transition: all .25s ease;
    text-align: center;
    text-shadow: none;
    box-shadow: none;
    white-space: nowrap;
    background-color: #1B6060;
}

.btn:hover {
    background: none repeat scroll 0 0 #3b3c41;
    color: #FFF;
    text-decoration: none;
    border: 1px solid #3b3c41;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.btn .caret {
    border-top: 4px solid #FFF;
}

.btn-micro {
    padding: 1px 8px;
    font-size: 10px;
}

/* Sliders */
.Sliders {
    box-shadow: 0 3px 11px rgba(0, 0, 0, 0.7);
    height: 300px;
    margin-top: 30px;
}

.Sliders-img {
    width: 100%;
    height: 300px;
}

.flags-position {
    margin-top: -280px;
    position: inherit;
    float: right;
    margin-right: 50px;
    z-index: 999;
}

.alphabet-block {
    position: inherit;
    display: none;
    z-index: 999;
    margin-top: -40px;
    text-align: center;
}

/* End Sliders */
/* photo */
.img-thumbnail:hover {
    border: 8px solid #449d44;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.img-thumbnail {
    height: 200px;
    width: 100%;
    box-shadow: 0 5px #FFF inset, 0 0 8px #C8CFE6;
}

.CardBlock:nth-child(n) {
    float: left;
    margin-right: 20px;
    clear: none;
}

.Card__difficulty {
    color: #449d44;
    position: absolute;
    z-index: 1;
    left: 22px;
    top: 14px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

.Card__image {
    display: block;
    position: relative;
    height: 200px;
}

.Card__details {
    background: #FFF none repeat scroll 0 0;
    padding: 8px 12px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.Card__title {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
}

.Card__title a {
    color: #449d44;
}

.Card__count {
    font-weight: 600;
    text-align: right;
    font-size: 22px;
    padding-left: 10px;
}

.Card__count span {
    font-weight: 400;
    display: block;
    font-size: 13px;
    margin-top: -5px;
}

/* end photo */
.form-like {
    float: right;
    margin-top: -20px;
}

.form-un-like {
    float: left;
    margin-top: -20px;
}

.view-song {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.heart-song {
    margin-top: 10px;
    margin-left: 65px;
}

.img {
    margin-left: 20px;
    width: 100%;
    height: 300px;
}

.breadcrumb {
    margin: 23px 0 17px;
    padding: 0 32px;
    list-style: outside none none;
    font-size: 16px;
}

.breadcrumb li + li:before {
    content: "\3E";
    color: #23527C;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li a {
    color: #23527C;
}

.infoErrorVoting {
    display: none;
}

.infoSuccessVoting {
    display: none;
}

.info {
    display: none;
}

.infoSuccess {
    display: none;
}

.songIconCount {
    float: right;
    margin-right: 10px;
    margin-top: -30px;
}

.songIconCountRight {
    float: right;
    margin-right: 10px;
}

#value {
    float: left;
    margin-right: 3px;
    margin-left: 3px;
}

/* ScrollUp */
#scrollUp {
    position: fixed;
    opacity: .5;
    padding: 15px 10px 10px;
    background: #aaa;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    left: 10px;
    bottom: 10px;
    display: none;
    cursor: pointer;
}

/* end scrollUp */

/* errors */
.search-error-img {
    width: 100px;
    height: 100px;
    text-align: center;
}

.search-error-text {
    font: 20pt serif;
    text-align: center;
    font-style: italic
}

/* end errors */

/*--------------------------------------------------------------------------
       Footer Style
--------------------------------------------------------------------------*/
#count-views-site {
    float: right;
}

.footer {
    background: #222;
    padding: 0 20px 10px 20px;
    border-top: 4px solid #449d44;
    box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.4);
    color: 0 -1px 12px rgba(0, 0, 0, 0.4);
}

.footer h3 {
    color: #E4E4E4;
    font-size: 1.3em;
    border-bottom: 1px dotted #7C7C7C;
}

.footer ul {
    padding: 0;
}

.footer-copyright {
    text-align: center;
    color: #7C7C7C;
    border-top: 1px dotted #7C7C7C;
    padding-top: 10px;
    font-size: .9em;
}

/*--------------------------------------------------------------------------
+	Pagination Style (overrides Bootstrap style)
--------------------------------------------------------------------------*/

.pagination > li > a, .pagination > li > span {
    border: none;
    border-bottom: 3px solid #FFF;
    color: #666666;
    margin-left: 0;
    margin-bottom: 5px;
    transition: all .25s linear;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span {
    background: #FFF;
}

.pagination > li > a:hover {
    border-bottom: 3px solid #666666;
}

.pagination > .active > a, .pagination > .active > span {
    color: #666666;
    border-bottom: 3px solid #4f8db3;
}

.pagination > .disabled > a {
    border-color: #fff;
}

.pagination > .disabled > span, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    margin-bottom: 0;
    color: #C9C9C9;
    background-color: #FFF;
    cursor: default;
}

.bootstrap-select {
    margin-top: 15px;
}

.form_control {
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form_control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form_control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form_control:-ms-input-placeholder {
    color: #999;
}

.form_control::-webkit-input-placeholder {
    color: #999;
}

.form_control[disabled],
.form_control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.form_control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}

textarea.form_control {
    height: auto;
}

.section-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 40px;
}

.img-comment {
    width: 60%;
    height: 150px;
}

.who-added-song {
    text-align: center;
}

.title-song {
    text-align: center;
    font: italic 14pt 'Times New Roman', Times, serif;
}
